:root {
  --textColor: #C6D0F5;
  --bgColor: #232634;
  --bgColorTr: #232634b0;
  --bgSecondaryColor: #292C3C;
  --bgTertiaryColor: #303446;
  --boxColor: #89b4fa;
  --successColor: #a6e3a1;
  --dangerColor: #f38ba8;
  --accentColor: #74c7ec;
  background-color: var(--bgTertiaryColor);
  color: var(--textColor);
}

@font-face {
  font-family: billiondreams;
  src: url("./assets/fonts/billiondreams.ttf");
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Varela Round', 'Dosis', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--textColor);
  opacity: 0.2; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--textColor);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--textColor);
}

input, textarea {
  font-family: 'Dosis', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
